<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StatisticsMapper">

    <select id="getAllStudentsScore" parameterType="map"   resultType="map">
        select concat(u.id,'')  userid,u.nickname nickname,up.truename truename,
        up.company cengji,up.varcharField4 zhuanye,up.varcharField3 bingqu,concat(us.score,'') score,us.year year,
        concat(c.id,'') courseId,concat(c.buyable,'') courseType,concat(us.courseType,'') acourseType,c.title courseName
        from user u
        left join user_profile up on u.id = up.id
        left join user_score us on up.id = us.userId
        left join course c on us.courseId = c.id
        where 1=1
        <if test="isMember == 1">
            and u.id in
            <foreach collection="userlist" index="index" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <if test="islimit == 1">
            limit #{start},#{plimit}
        </if>
    </select>

    <select id="getAllStudentsCourse" parameterType="map"   resultType="map">
        select concat(u.id,'') userId,concat(cm.courseId,'') courseId,concat(cm.createdTime,'') createdTime,concat(c.buyable,'') courseType
        from user u left join course_member cm on u.id = cm.userId
        left join course c on cm.courseId = c.id
        where 1=1
        <if test="isMember == 1">
            and u.id in
            <foreach collection="userlist" index="index" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        <if test="islimit == 1">
            limit #{start},#{plimit}
        </if>
    </select>

    <select id="getUsers" parameterType="map"   resultType="map">
        select concat(u.id,'') userId from user u
        left join user_profile up on u.id = up.id
        where 1=1
        <if test="islimit == 1">
            limit #{start},#{plimit}
        </if>
    </select>

    <select id="getDistinctBingqu" parameterType="map"   resultType="map">
        select distinct varcharField4 as bingqu  from user_profile
    </select>


</mapper>